<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hello1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Hello2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Hello3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Hello4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Hello5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA0C85C91822A4FB00BD2411</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA0C85E51822A4FB00BD2411</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA154FF918215B43007C4421</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA15501518215B43007C4421</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA1F308E182AB00E00E9C039</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA1F30AA182AB00E00E9C039</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA78D042182A7A72006FB1D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA78D05E182A7A72006FB1D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA78D077182AAF89006FB1D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA78D093182AAF89006FB1D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA9877AB182023F3006D92AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA9877CC182023F3006D92AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAC01C78182D206400C4EC8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAC01C94182D206400C4EC8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAE6E1AD182D3A7B000A22C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAE6E1C9182D3A7B000A22C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAE6E1E1182D3D42000A22C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAE6E1FD182D3D42000A22C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
