<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>湖南省</key>
	<array>
		<string>长沙</string>
		<string>张家界</string>
	</array>
	<key>湖北省</key>
	<array>
		<string>武汉</string>
		<string>咸宁</string>
		<string>黄石</string>
	</array>
	<key>吉林省</key>
	<array>
		<string>辽源</string>
		<string>四平</string>
		<string>吉林</string>
		<string>长春</string>
	</array>
</dict>
</plist>
